<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Tweelyser</title>
</head>
<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
<script src="{{ url_for('static', filename='js/jquery-min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>

<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/c3.js') }}" type="text/javascript" charset="utf-8" async defer></script>


<body>

<section class="valign-wrapper" style="height: 100vh; width: 100vw;">
	<div class="valign center-align row" style="width: 100vw; padding: 50px;">
		<div class="col l4"></div>
		<div class="card col l4 hoverable">
{% if g.user %}
			<h1>
			<form action="/results" method="GET" onsubmit="setCookie('screenName', this.screenName.value, 1)">
			<input name="screenName" class="card-content col l12" style="font-size: 0.6em" placeholder="@" />
			</form>
			</h1>
{% else %}
				<a href="{{ url_for('login') }}" title=""><button class="btn waves-effect waves-light">Login with Twitter</button></a>
{% endif %}
		</div>
		<div class="col l4"></div>
	</div>
<section>


<script>
	var screenName = document.forms[0].screenName;
	if (screenName.length != 0) {
		document.cookie = "screenName="+screenName;
	}
</script>


</body>

</html>