<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
	<title></title>
</head>
<body>

</body>
</html>
<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
<script src="{{ url_for('static', filename='js/jquery-min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>

<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/c3.js') }}" type="text/javascript" charset="utf-8" async defer></script>



<!-- <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='images/sign-in.png') }}" alt="sign in"></a> -->
{% if g.user %}
	<div>
		you are logged in.
	</div>
{% else %}
<p>
  Sign in to view your public timeline and to tweet from this
  example application.
</p>
<p>
  <a href="{{ url_for('login') }}"><img src="{{
    url_for('static', filename='images/sign-in.png') }}" alt="sign in"></a>
</p>
{% endif %}