<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css') }}">
	<title>Tweelyser</title>
	<style>
		#preloader {
			display: block;
			position: fixed;
			width: 100vw;
			height: 100vh;
		}
	</style>
</head>
<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
<script src="{{ url_for('static', filename='js/jquery-min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>

<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static', filename='js/c3.js') }}" type="text/javascript" charset="utf-8" async defer></script>


<body>

<!-- <div id="preloader" class="valign-wrapper">
	<div class="preloader-wrapper valign big active">
		<div class="spinner-layer spinner-blue">
			<div class="circle-clipper left">
			  <div class="circle"></div>
			</div>
			<div class="gap-patch">
			  <div class="circle"></div>
			</div>
			<div class="circle-clipper right">
			  <div class="circle"></div>
			</div>
		</div>
	</div>
</div> -->

<div class="nav-fixed">
	<nav class="blue darken-1">
		<a href="/"><div class="brand-logo">&nbsp;Tweelyser</div></a>
		<div class="nav-wrapper lighten-1 right hand-on-med-down">
		<ul>
			{% if g.user %}
				<li>
					<a href="{{ url_for('logout') }}" class="waves-effect waves-light white black-text btn">Logout</a>
				</li>
			{% else %}
			    <li>
					<a href="{{ url_for('login') }}" class="waves-effect waves-light white black-text btn">Login</a>
				</li>
			{% endif %}
		</ul>
		</div>
	</nav>
</div>

<main class="row">
	<div class="col l1"></div>
	<div class="row col l10">

		<div class="col l3">
			
			<div class="card hoverable white">
				<div class="card-image">
					<img id="userProfilePic">
					<span class="card-title" id="screenName" style="background-color: rgba(0,0,0, 0.4); width: 100%"></span>
				</div>
				<div class="card-content" id="userName"></div>
			</div>

		</div>
		<div class="col l9">
			<div class="card hoverable z-depth-2 white">
				<div id="getTimeOfDay">Loading...</div>
					<div class="card-content">
						<span class="card-title">Tweets according to time of day</span>
					</div>
				</div>

		</div>
		<div class="col l3">
			
			<div class="card hoverable z-depth-2 white">
				<div class="card-content">
					<span class="card-title"><span id="followersToFollowing">Loading...</span></span>
				</div>
				<div class="card-content blue accent-4 white-text" style="font-size: larger">Followers to Following</div>
			</div>

		</div>
		<div class="col l1"></div>

		<div class="col l3">
			
			<div class="card hoverable z-depth-2 white">
				<div class="card-content">
					<span class="card-title"><span id="hashtagFrequency">Loading...</span></span>
				</div>
				<div class="card-content blue accent-4 white-text" style="font-size: larger">Hashtag Frequency</div>
			</div>

		</div>
		<div class="col l1"></div>

		<div class="col l4">
			
			<div class="card hoverable z-depth-2 white">
				<div class="card-content">
					<span class="card-title"><span id="tweetsWithMedia">Loading...</span></span>
				</div>
				<div class="card-content blue accent-4 white-text" style="font-size: larger">Percent of tweets containing Media</div>
			</div>

		</div>

		<div class="col l12 z-depth-2 card hoverable">
			<div id="retweetsvsfav">Loading...</div>
			<div class="card-content">Retweets vs Favorites for your tweets</div>
		</div>

		<div class="col l1"></div>
		<div class="col l5 z-depth-2 hoverable card">
			<div class="card-content">
				<span class="card-title"><span id="maxRetweet">Loading...</span></span>
			</div>
			<div class="card-content blue accent-4 white-text" style="font-size: larger">Max retweets for a single tweet</div>
		</div>
		<div class="col l1"></div>

		<div class="col l5 z-depth-2 card hoverable">
			<div id="tweetLength">Loading...</div>
			<div class="card-content">Retweets vs Favorites for your tweets</div>
		</div>

		

		<div class="col l12 z-depth-2 card hoverable">
			<div id="timeBetweenTweets">Loading...</div>
			<div class="card-content">Time between two consecutive tweets</div>
		</div>


	</div>
	<div class="col l1"></div>
</main>

</body>

</html>